<!DOCTYPE html>
<html lang="en" ng-app="autorepuestosApp" ng-cloak>

<head>
    <title>Sistema de Auto Repuestos</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="scripts/vendor/angular-busy/angular-busy.css" rel="stylesheet">
    <link href="scripts/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="scripts/vendor/angular-bootstrap/ui-bootstrap-csp.css" rel="stylesheet">
    <link href="scripts/vendor/ngToast/dist/ngToast.min.css" rel="stylesheet">
    <link rel="stylesheet" href="scripts/vendor/ngToast/dist/ngToast-animations.min.css">
    <link rel="stylesheet" href="scripts/external_vendor/ng-tables/ng-table.css">
    <link href="styles/main.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-default" role="navigation" ng-if="isAuthenticated">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
            <a class="navbar-brand"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Sistema de Autorepuestos</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
            <ul class="nav navbar-nav">
                <li ng-class="{true:'active', false: 'none'}[$state.current.name == 'main']"><a ui-sref='main'>Inicio</a></li>
                <li ng-class="{true:'active', false: 'none'}[$state.current.name == 'marcas']" ng-if="userrole=='ROLE_ADMIN'"><a ui-sref='marcas'>Marcas</a></li>
                <li ng-class="{true:'active', false: 'none'}[$state.current.name == 'proveedores']" ng-if="userrole=='ROLE_ADMIN'"><a ui-sref='proveedores'>Proveedores</a></li>
               <!--
                <li><a href="#">Link</a></li>
                <li dropdown>
                    <a href="#" dropdown-toggle>Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
                -->
            </ul>
           <!-- 
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            -->
            <ul class="nav navbar-nav navbar-right">
               <!-- <li><a href="#">Link</a></li> -->
                <li dropdown uib-dropdown>
                    <a href="#" dropdown-toggle uib-dropdown-toggle><strong>Usuario: {{username}}</strong><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref='logout'>Cerrar Sesión</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div class="container">
        <div ui-view></div>
    </div>
    <script type="text/javascript" src="scripts/vendor/angular/angular.js"></script>
    <script type="text/javascript" src="scripts/vendor/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="scripts/vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="scripts/vendor/angular-busy/angular-busy.js"></script>
    <script type="text/javascript" src="scripts/vendor/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script type="text/javascript" src="scripts/vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="scripts/vendor/angular-messages/angular-messages.min.js"></script>
    <script type="text/javascript" src="scripts/vendor/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="scripts/vendor/angular-sanitize/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="scripts/vendor/ngToast/dist/ngToast.min.js"></script>
    <script type="text/javascript" src="scripts/vendor/angular-confirm-modal/angular-confirm.js"></script>
    <script type="text/javascript" src="scripts/vendor/angular-jwt/dist/angular-jwt.js"></script>
    <script type="text/javascript" src="scripts/external_vendor/ng-tables/ng-table.js"></script>
    <script type="text/javascript" src="scripts/vendor/angular-order-object-by/src/ng-order-object-by.js"></script>
    <script type="text/javascript" src="scripts/vendor/angular-filter/dist/angular-filter.js"></script>
    <script type="text/javascript" src="scripts/app.js"></script>
    <script type="text/javascript" src="scripts/directives/onEnterDirective.js"></script>
    <script type="text/javascript" src="scripts/filters/rangeFilter.js"></script>
    <script type="text/javascript" src="scripts/services/storageService.js"></script>
    <script type="text/javascript" src="scripts/services/logoutService.js"></script>
    <script type="text/javascript" src="scripts/services/userInfoService.js"></script>
    <script type="text/javascript" src="scripts/controllers/loginController.js"></script>
    <script type="text/javascript" src="scripts/controllers/mainController.js"></script>
    <script type="text/javascript" src="scripts/controllers/marcasController.js"></script>
    <script type="text/javascript" src="scripts/controllers/proveedoresController.js"></script>
    <script type="text/javascript" src="scripts/controllers/logoutController.js"></script>
    <script type="text/ng-template" id="alert.html">
        <div ng-transclude></div>
    </script>
</body>

</html>