<toast></toast>
<div class="container" ng-controller="aplicacionesController as aplicacionesc" ng-cloak cg-busy="{promise:AplicacionesPromise,message:'Cargando...',templateUrl:'scripts/vendor/angular-busy/angular-busy.html'}">
    <div ng-class="aplicacionesc.editing == true  ? 'item-no-visible' : 'item-visible'">
        <div class="row">
            <div class="col-md-12">
                <h2>Aplicaciones</h2>
            </div>
        </div>
        <div class="row button-margin">
            <div class="col-md-12">
                <button class="btn btn-primary" type="button" ng-disabled="(aplicacionesc.selectedItemAction == 'edit') || (aplicacionesc.selectedItemAction == 'view')"
                    ng-model="aplicacionesc.isAddNewAplicacion" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
                    <span class="glyphicon glyphicon-certificate" aria-hidden="true"></span> Agregar Aplicación
                </button>
            </div>
        </div>
        <div class="row" ng-class="{true:'item-visible', false: 'item-no-visible'}[aplicacionesc.isAddNewAplicacion==true]">
            <div class="col-md-12 text-center">
                <h3>Nueva Aplicación de Parte</h3>
            </div>
        </div>
        <div class="row" ng-class="{true:'item-visible', false: 'item-no-visible'}[aplicacionesc.isAddNewAplicacion==true]">
            <div class="col-md-5">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Parte a aplicar</h3>
                        <span class="pull-right clickable"><i class="fa fa-cog"></i></span>
                    </div>
                    <div class="panel-body">
                        <ui-select ng-model="aplicacionesc.parteSeleccionada" theme="bootstrap">
                            <ui-select-match placeholder="Seleccione una parte...">{{$select.selected.parNombre.parNombre}} {{$select.selected.parCodigo}}</ui-select-match>
                            <ui-select-choices group-by="aplicacionesc.selectParteGroup" repeat="parte in (aplicacionesc.partes | filter: $select.search) track by parte.parId">
                                <span ng-bind-html="parte.parNombre.parNombre | highlight: $select.search"></span>
                                <small ng-bind-html="parte.parCodigo | highlight: $select.search"></small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <i class="fa fa-long-arrow-right large-simbol primary-text"></i>
            </div>
            <div class="col-md-5">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Vehículo para la aplicación de parte</h3>
                        <span class="pull-right clickable"><i class="fa fa-car"></i></span>
                    </div>
                    <div class="panel-body">
                        <ui-select ng-model="aplicacionesc.vehiculosSeleccionados" multiple theme="bootstrap" ng-disabled="aplicacionesc.parteSeleccionada == null">
                            <ui-select-match placeholder="Seleccione los vehículos...">{{$item.modeloMod.marcaMar.marNombre}} {{$item.modeloMod.modNombre}} {{$item.vehCilindros ==
                                null ? '' : $item.vehCilindros + '-'}}{{$item.vehLitros == null ? '' : $item.vehLitros +
                                '-'}}{{$item.vehValvulas == null ? '' : $item.vehValvulas + '-'}}{{$item.vehLevas == null
                                ? '' : $item.vehLevas + '-'}}{{$item.vehVersion == null ? '' : $item.vehVersion + '-'}}{{$item.vehFabDesde
                                == null ? '' : $item.vehFabDesde + '-'}}{{$item.vehFabHasta == null ? '' : $item.vehFabHasta}}</ui-select-match>
                            <ui-select-choices group-by="aplicacionesc.selectVehiculoGroup" repeat="vehiculo in (aplicacionesc.vehiculos | filter: $select.search) track by vehiculo.vehId">
                                <span ng-bind-html="vehiculo.modeloMod.modNombre | highlight: $select.search"></span>
                                <small ng-bind-html="(vehiculo.vehCilindros == null ? '' : vehiculo.vehCilindros + '-') + ( vehiculo.vehLitros == null ? '' :  vehiculo.vehLitros + '-') + ( vehiculo.vehValvulas == null ? '' :  vehiculo.vehValvulas + '-') + ( vehiculo.vehLevas == null ? '' :  vehiculo.vehLevas + '-') + ( vehiculo.vehVersion == null ? '' :  vehiculo.vehVersion + '-') + ( vehiculo.vehFabDesde == null ? '' :  vehiculo.vehFabDesde + '-') + ( vehiculo.vehFabHasta == null ? 'Actual' :  vehiculo.vehFabHasta)  | highlight: $select.search"></small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-class="{true:'item-visible', false: 'item-no-visible'}[aplicacionesc.isAddNewAplicacion==true]">
            <div class="col-md-12 text-center">
                <button class="btn btn-primary" type="button" ng-click="aplicacionesc.addAplicacion(aplicacionesc.parteSeleccionada.parId)">Agregar</button>
            </div>
        </div>
    </div>
    <div class="row">
        <hr>
    </div>
    <div ng-class="{true:'item-visible', false: 'item-no-visible'}[aplicacionesc.isAddNewAplicacion==false]">
        <div class="row">
            <h2>Consultar Aplicaciones</h2>
        </div>
        <div class="row">
            <div class="col-md-4 text-center"></div>
            <div class="col-md-4 text-center">
                <label for="grupoParte">Seleccione un Grupo de Parte para continuar</label><br>
                <ui-select ng-model="aplicacionesc.grupoSeleccionado" theme="bootstrap" on-select="aplicacionesc.onSelectGrupo($item, $model)">
                    <ui-select-match placeholder="Seleccione un grupo...">{{$select.selected.grupoNombre}}</ui-select-match>
                    <ui-select-choices repeat="grupo in (aplicacionesc.grupos | filter: $select.search) track by grupo.id">
                        <span ng-bind-html="grupo.grupoNombre | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-md-4 text-center"></div>
        </div>
        </br>
        <div class="row">
            <div class="col-md-4 text-center"></div>
            <div class="col-md-4 text-center">
                <div ng-class="{true:'item-visible', false: 'item-no-visible'}[((aplicacionesc.grupoSeleccionado != null) && (aplicacionesc.partesByGrupo.length == 0)) ]">
                    <i class="fa fa-exclamation-triangle "></i> <b>No existen partes para el grupo seleccionado.</b>
                </div>
                <div ng-class="{true:'item-visible', false: 'item-no-visible'}[(aplicacionesc.grupoSeleccionado != null) && (aplicacionesc.partesByGrupo.length > 0) ]">
                    <label for="grupoParte">Seleccione una Parte</label><br>
                    <ui-select ng-model="aplicacionesc.parteSeleccionada" theme="bootstrap" on-select="aplicacionesc.onSelectParteAplicacion($item, $model)">
                        <ui-select-match placeholder="Seleccione una parte...">{{$select.selected.parNombre.parNombre}} {{$select.selected.parCodigo}}</ui-select-match>
                        <ui-select-choices repeat="parte in (aplicacionesc.partesByGrupo | filter: $select.search) track by parte.parId">
                            <span ng-bind-html="parte.parNombre.parNombre | highlight: $select.search"></span>
                            <small ng-bind-html="parte.parCodigo | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="col-md-4 text-center"></div>
        </div>
        </br>
        <div class="row">
            <table class="table table-hover" ng-cloak>
                <thead>
                    <tr>
                        <th><span class="btn">Vehículos de la Aplicación</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="aplicacion in aplicacionesc.vehiculosQueAplica | filter : vehiculosc.Aplicacionfilter">
                        <td class="">{{aplicacion.vehiculoVeh.modeloMod.marcaMar.marNombre}} {{aplicacion.vehiculoVeh.modeloMod.modNombre}} {{aplicacion.vehiculoVeh.vehCilindros ==
                                null ? '' : aplicacion.vehiculoVeh.vehCilindros + '-'}}{{aplicacion.vehiculoVeh.vehLitros == null ? '' : aplicacion.vehiculoVeh.vehLitros +
                                '-'}}{{aplicacion.vehiculoVeh.vehValvulas == null ? '' : aplicacion.vehiculoVeh.vehValvulas + '-'}}{{aplicacion.vehiculoVeh.vehLevas == null
                                ? '' : aplicacion.vehiculoVeh.vehLevas + '-'}}{{aplicacion.vehiculoVeh.vehVersion == null ? '' : aplicacion.vehiculoVeh.vehVersion + '-'}}{{aplicacion.vehiculoVeh.vehFabDesde
                                == null ? '' : aplicacion.vehiculoVeh.vehFabDesde + '-'}}{{aplicacion.vehiculoVeh.vehFabHasta == null ? '' : aplicacion.vehiculoVeh.vehFabHasta}}</td>
                    </tr>                   
                    <!--
                    <tr ng-repeat-start="modelo in modelosc.modelos | orderObjectBy: modelosc.orderBy : modelosc.orderDirection | filter : modelosc.filter">
                        <td class=""></td>
                    </tr>
                    <tr ng-repeat-end ng-class="{true:'row-visible', false: 'row-no-visible'}[modelosc.selectedItem.id == modelo.modId]">
                        <td>
                            <strong>Editando Modelo ID: {{modelo.modId}}</strong>
                        </td>
                    </tr>
                    -->
                </tbody>
            </table>
        </div>
    </div>
</div>