<toast></toast>
<div class="container" ng-controller="marcasController as mc" ng-cloak cg-busy="{promise:MarcasPromise,message:'Cargando...',templateUrl:'scripts/vendor/angular-busy/angular-busy.html'}">
    <div class="row">
        <div class="col-md-12">
            <h2>Lista de Marcas</h2>
        </div>
    </div>
    <div class="row button-margin">
        <div class="col-md-12">
            <button class="btn btn-primary" type="button" ng-disabled="mc.selectedItem.id !=''" ng-click="" ng-model="mc.isAddNewMarca"
                uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
		        <span class="glyphicon glyphicon-certificate" aria-hidden="true"></span> Agregar Nuevo
            </button>
        </div>
    </div>
    <div class="row" ng-class="{true:'item-visible', false: 'item-no-visible'}[mc.isAddNewMarca==true]">
        <div class="col-md-12">
            <form name="newMarcaForm" ng-submit="" novalidate>
                <div ng-class="{ 'has-error': newMarcaForm.nombre.$touched && newMarcaForm.nombre.$invalid}" class="form-group">
                    <label for="nombre">Nombre <span class="label label-primary">REQUERIDO</span></label>
                    <input type="text" name="nombre" class="form-control" ng-model="mc.newItem.nombre" placeholder="Nombre" required/>
                    <div class="help-block" ng-messages="newMarcaForm.nombre.$error" ng-if="newMarcaForm.nombre.$touched">
                        <p ng-message="required">"Nombre" es requerido.</p>
                    </div>
                </div>
                <div ng-class="{ 'has-error': newMarcaForm.observaciones.$touched && newMarcaForm.observaciones.$invalid}" class="form-group">
                    <label for="observaciones">Sobre el Fabricante <span class="label label-primary">REQUERIDO</span></label>
                    <textarea rows="" cols="" ng-maxlength="250" name="observaciones" class="form-control" ng-model="mc.newItem.observacion"
                        placeholder="Observaciones" required></textarea>
                    <div class="help-block" ng-messages="newMarcaForm.observaciones.$error" ng-if="newMarcaForm.observaciones.$touched">
                        <p ng-message="required">"Sobre el Fabricante" es requerido.</p>
                        <p ng-message="maxlength">Escriba máximo 250 caracteres.</p>
                    </div>
                </div>

                <div class="form-group">
                    <label for="nombre">Valoración de la Marca</label>
                    <ng-rate-it ng-model="mc.newItem.marValor"></ng-rate-it>
                    <span class="from-group">{{(mc.newItem.marValor == undefined) || (mc.newItem.marValor == null) ? '' : 'Valoración:'}} {{mc.newItem.marValor}}</span>
                </div>
                <div class="form-group">
                    <label for="nombre">País de Origen</label>
                    <ui-select ng-model="mc.newItem.marPais" theme="bootstrap">
                        <ui-select-match placeholder="Seleccione País">{{$select.selected}}</ui-select-match>
                        <ui-select-choices repeat="pais in (mc.paises | filter: $select.search)">
                            <span ng-bind-html="pais | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group" ng-class="{ 'has-error': newMarcaForm.marImagen.$touched && newMarcaForm.marImagen.$touched}">
                    <label for="marImagen">Imagen de la Marca</span></label>
                    <br>
                    <button class="btn btn-primary" ngf-select ng-model="mc.fileNew" name="marImagen" ngf-pattern="'image/*'" ngf-accept="'image/*'"
                        ngf-max-size="2MB" ngf-min-height="100" ngf-resize="{width: 200, height: 200,centerCrop: true}">
                        <i class="fa fa-file-image-o"></i> Seleccionar </span>
                    </button>
                    <span ng-hide="((mc.fileNew.$ngfName == null) || (mc.fileNew.$ngfName == '') || (mc.fileNew.$ngfName == undefined))">
                        <b>Nombre del archivo seleccionado:</b> {{mc.fileNew.$ngfName}}
                    </span>
                    <br>
                    <div class="help-block" ng-messages="newMarcaForm.marImagen.$error" ng-if="newMarcaForm.marImagen.$touched">
                        <p ng-message="pattern">Seleccione un tipo de archivo de imagen.</p>
                        <p ng-message="maxSize">El tamaño del archivo no debe ser mayor a 2 MB.</p>
                        <p ng-message="minHeight">La imagen seleccionada es muy pequeña.</p>
                    </div>
                    <img class="preview-box" ngf-thumbnail="mc.fileNew" ngf-size="{width: 200, height: 200, quality: 0.9}">
                </div>

                <button type="button" class="btn btn-success" ng-click="mc.addMarca(mc.newItem.nombre,mc.newItem.observacion,mc.newItem.marValor,mc.newItem.marPais)"
                    ng-disabled="newMarcaForm.$invalid">
			    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true" ></span>
                <span class="button-text">Agregar</span>
			</button>
            </form>
        </div>
    </div>
    <div class="row">
        <hr>
    </div>
    <div ng-show="mc.allLoad">
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar en todas las marcas..." ng-model="mc.searchText" on-enter="mc.getMarcas(QtyPagesSelected,1,mc.searchText)">
                    <span class="input-group-btn">
		        <button class="btn btn-default btn-left-margin-2" type="button" ng-class="{true:'item-visible', false: 'item-no-visible'}[mc.searchText !='']" ng-click="mc.searchText=''">
		        	<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                    </span>
                    <span class="input-group-btn">
		        <button class="btn btn-default btn-left-margin-2" type="button" ng-click="mc.getMarcas(QtyPagesSelected,1,mc.searchText)">
		        	<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                    </span>
                </div>
            </div>
            <div class="col-md-2 col-md-offset-4">
                <input type="text" class="form-control" id="txtFilter" placeholder="Filtro" ng-model="mc.filter">
            </div>
        </div>
        <div class="row">
            <hr>
        </div>
        <div class="row">
            <table class="table table-hover" ng-cloak>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Sobre el Fabricante</th>
                        <th>Valoración</th>
                        <th>País de Orígen</th>
                        <th>Imagen</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat-start="marca in mc.marcas | filter:mc.filter">
                        <td class="small-td">{{marca.marId}}</td>
                        <td class="medium-td">{{marca.marNombre}}</td>
                        <td class="large-td text-left">{{marca.marObservacion}}</td>
                        <td class="large-td text-left">{{marca.marValor}}</td>
                        <td class="large-td text-left">{{marca.marPais}}</td>
                        <!-- <td class="medium-td"><img ng-if="(marca.marImagen != '' && marca.marImagen != null && marca.marImagen != undefined) " ng-src="{{marca.fullMarImagen}}" width="100" height="100"></td>-->
                        <td class="medium-td">
                            <div class="container-image">
                                <img ng-if="(marca.marImagen != '' && marca.marImagen != null && marca.marImagen != undefined) " ng-src="{{marca.fullMarImagen}}"
                                    width="100" height="100">
                                <div ng-class="(mc.goToDeleteImage == true && mc.selectedItem.id == marca.marId ) ? 'overlay' : 'no-overlay'">
                                    <div class="text">Se eliminará</div>
                                </div>
                            </div>
                        </td>
                        <td class="action-buttons-td">
                            <button type="button" class="btn btn-primary" ng-model="mc.selectedItem.id" uib-btn-checkbox btn-checkbox-true="marca.marId"
                                btn-checkbox-false="0" ng-click="mc.copyRowData(marca.marNombre,marca.marObservacion,marca.marValor,marca.marPais); mc.fileEdit = null;">
							<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            <span class="button-text">Editar</span>
						</button>
                            <button type="button" class="btn btn-danger" ng-disabled="mc.selectedItem.id == marca.marId" ng-click="mc.removeMarca(marca.marId)"
                                confirm="¿Está seguro de eliminar el registro?. Esta acción no se puede deshacer." confirm-title="Atención"
                                confirm-ok="Si" confirm-cancel="No">
							<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            <span class="button-text">Eliminar</span>
						</button>
                        </td>
                    </tr>
                    <tr ng-repeat-end ng-class="{true:'row-visible', false: 'row-no-visible'}[mc.selectedItem.id == marca.marId]">
                        <td class="small-td">
                            <strong>Editando Marca ID: {{marca.marId}}</strong>
                        </td>
                        <td class="small-td">
                            <form name="updateNameForm" ng-submit="" novalidate>
                                <div ng-class="{ 'has-error': updateNameForm.nombre.$touched && updateNameForm.nombre.$invalid}">
                                    <input type="text" name="nombre" class="form-control" ng-model="mc.selectedItem.nombre" placeholder={{marca.marNombre}} required/>
                                    <div class="help-block" ng-messages="updateNameForm.nombre.$error" ng-if="updateNameForm.nombre.$touched">
                                        <p ng-message="required">"Nombre" es requerido.</p>
                                    </div>
                                </div>
                            </form>
                        </td>
                        <td class="large-td">
                            <form name="updateObsForm" novalidate>
                                <div ng-class="{ 'has-error': updateObsForm.observaciones.$touched && updateObsForm.observaciones.$invalid}">
                                    <textarea rows="" cols="" ng-maxlength="250" name="observaciones" class="form-control" ng-model="mc.selectedItem.observacion"
                                        placeholder={{marca.marObservacion}} required>
                                    </textarea>
                                    <div class="help-block" ng-messages="updateObsForm.observaciones.$error" ng-if="updateObsForm.observaciones.$touched">
                                        <p ng-message="required">"Sobre el Fabricante" es requerido.</p>
                                        <p ng-message="maxlength">Escriba máximo 250 caracteres.</p>
                                    </div>
                                </div>
                            </form>
                        </td>
                        <td class="medium-td">
                            <ng-rate-it ng-model="mc.selectedItem.marValor"></ng-rate-it>
                            <span>{{(mc.selectedItem.marValor == undefined) || (mc.selectedItem.marValor == null) ? '' : 'Valoración:'}} {{mc.selectedItem.marValor}}</span>
                        </td>
                        <td class="large-td">
                            <ui-select ng-model="mc.selectedItem.marPais" theme="bootstrap">
                                <ui-select-match placeholder="Sel. País">{{$select.selected}}</ui-select-match>
                                <ui-select-choices repeat="pais in (mc.paises | filter: $select.search)">
                                    <span ng-bind-html="pais | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                        <td>
                            <form name="updateImgForm" novalidate>
                                <div ng-class="{ 'has-error': updateImgForm.marImagen.$touched && updateImgForm.marImagen.$invalid}">
                                    <button class="btn btn-primary" ng-disabled="mc.goToDeleteImage" ngf-select ng-model="mc.fileEdit" name="marImagen" ngf-pattern="'image/*'"
                                        ngf-accept="'image/*'" ngf-max-size="2MB" ngf-min-height="100" ngf-resize="{width: 200, height: 200,centerCrop: true}">
                                        <i class="fa fa-file-image-o"></i> Seleccionar </span>
                                    </button>
                                    <button type="button" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" ng-model="mc.goToDeleteImage"
                                        class="btn btn-danger" ng-disabled="((marca.marImagen == '' || marca.marImagen == null || marca.marImagen == undefined) || (mc.fileEdit != '' && mc.fileEdit != undefined && mc.fileEdit !=null && marca.marId == mc.selectedItem.id))">
                                        <i class="fa fa-eraser"></i> Remover
                                    </button>
                                    <div class="help-block" ng-messages="updateImgForm.marImagen.$error" ng-if="updateImgForm.marImagen.$touched">
                                        <p ng-message="pattern">Seleccione un tipo de archivo de imagen.</p>
                                        <p ng-message="maxSize">El tamaño del archivo no debe ser mayor a 2 MB.</p>
                                        <p ng-message="minHeight">La imagen seleccionada es muy pequeña.</p>
                                    </div>
                                    <div class="help-block">
                                        <span ng-hide="((mc.fileEdit.$ngfName == null) || (mc.fileEdit.$ngfName == '') || (mc.fileEdit.$ngfName == undefined))">
                                            <b>Archivo seleccionado:</b> {{mc.fileEdit.$ngfName}} 
                                            <br>
                                            <button class="btn btn-danger" ng-click="mc.fileEdit=null"><i class="fa fa-chain-broken"></i> Quitar</button>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </td>
                        <td class="small-td">
                            <button type="button" class="btn btn-success" ng-click="mc.updateMarcas(marca.marId,mc.selectedItem.nombre,mc.selectedItem.observacion,mc.selectedItem.marValor,mc.selectedItem.marPais)"
                                ng-disabled="updateNameForm.$invalid || updateObsForm.$invalid || updateImgForm.$invalid">
					        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true" ></span>
                            <span class="button-text">Guardar</span>
				        </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr>
        </div>
        <div class="row" ng-cloak ng-show="mc.allLoad">
            <form class="form-inline">
                <div class="form-group">
                    <select class="form-control in-line-paginator" id="selQtyPages" ng-model="QtyPagesSelected" ng-change="mc.ChangeQtyPagesTables(QtyPagesSelected,mc.searchText)"
                        ng-init="QtyPagesSelected=QtyPageTables">
				    <option value=10>10</option>
				    <option value=20>20</option>
				    <option value=50>50</option>
				    <option value=100>100</option>
				    <option value=Todos>Todos</option>
				</select>
                </div>
                <div class="form-group">
                    <ul uib-pagination previous-text="Anterior" next-text="Siguiente" items-per-page="QtyPageTables" total-items="mc.totalMarcas"
                        ng-model="mc.CurrentPage" ng-change="mc.setPage(mc.CurrentPage)"></ul>
                </div>
                <div class="form-group pull-right actual-range" ng-cloak>
                    {{mc.actualRange}}
                </div>
            </form>
        </div>
    </div>
</div>