<toast></toast>
<div class="container" ng-controller="modelosController as modelosc" ng-cloak cg-busy="{promise:ModelosPromise,message:'Cargando...',templateUrl:'scripts/vendor/angular-busy/angular-busy.html'}">
    <div class="row">
        <div class="col-md-12">
            <h2>Lista de Modelos</h2>
        </div>
    </div>
    <div class="row button-margin">
        <div class="col-md-12">
            <button class="btn btn-primary" type="button" ng-disabled="modelosc.selectedItem.id !=''" ng-click="" ng-model="modelosc.isAddNewModelo"
                uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
		        <span class="glyphicon glyphicon-certificate" aria-hidden="true"></span> Agregar Nuevo
            </button>
        </div>
    </div>
    <div class="row" ng-class="{true:'item-visible', false: 'item-no-visible'}[modelosc.isAddNewModelo==true]">
        <div class="col-md-12">
            <form name="newModeloForm" ng-submit="" novalidate>
                <div ng-class="{ 'has-error': newModeloForm.nombre.$touched && newModeloForm.nombre.$invalid}" class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" class="form-control" ng-model="modelosc.newItem.nombre" placeholder="Nombre" required/>
                    <div class="help-block" ng-messages="newModeloForm.nombre.$error" ng-if="newModeloForm.nombre.$touched">
                        <p ng-message="required">"Nombre" es requerido.</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Observacion">Observación</label>
                    <textarea rows="" cols="" name="observacion" class="form-control" ng-model="modelosc.newItem.observacion" placeholder="Observación"></textarea>
                </div>
                <select id="ProvSelector">
                    <option ng-repeat="marca in modelosc.marcas" value="{{marca.marId}}" ng-model="modelosc.newItem.marca">{{marca.marNombre}}</option>
                </select>
                <button type="button" class="btn btn-success" ng-click="modelosc.addModelo(modelosc.newItem.nombre,modelosc.newItem.observacion,modelosc.newItem.modelosc.newItem.marca)"
                    ng-disabled="newModelosForm.$invalid">
			    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true" ></span>
                <span class="button-text">Agregar</span>
			</button>
            </form>
        </div>
    </div>