<toast></toast>
<div class="container" ng-controller="partesNombresController as pnombresc" ng-cloak cg-busy="{promise:NombresPromise,message:'Cargando...',templateUrl:'scripts/vendor/angular-busy/angular-busy.html'}">
    <div ng-class="pnombresc.editing == true  ? 'item-no-visible' : 'item-visible'">
        <div class="row">
            <div class="col-md-12">
                <h2>Lista de Nombres de Partes</h2>
            </div>
        </div>
        <div class="row button-margin">
            <div class="col-md-12">
                <button class="btn btn-primary" type="button" ng-disabled="pnombresc.selectedItem.id" ng-model="pnombresc.isAddNewPartesNombre"
                    uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
                    <span class="glyphicon glyphicon-certificate" aria-hidden="true"></span> Agregar Nuevo
                    </button>
            </div>
        </div>
        <div class="row" ng-class="{true:'item-visible', false: 'item-no-visible'}[pnombresc.isAddNewPartesNombre==true]">
            <div class="col-md-12">
                <form name="newPnombreForm" ng-submit="" novalidate>
                    <div ng-class="{ 'has-error': newPnombreForm.parNombre.$touched && newPnombreForm.parNombre.$invalid}" class="form-group">
                        <label for="parNombre">Nombre <span class="label label-primary">REQUERIDO</span></label>
                        <input type="text" name="parNombre" class="form-control" ng-model="pnombresc.newItem.parNombre" placeholder="Nombre" required/>
                        <div class="help-block" ng-messages="newPnombreForm.parNombre.$error" ng-if="newPnombreForm.parNombre.$touched">
                            <p ng-message="required">"Nombre" es requerido.</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="parNombreIngles">Nombre Inglés</label>
                        <input type="text" name="parNombreIngles" class="form-control" ng-model="pnombresc.newItem.parNombreIngles" placeholder="Nombre Inglés"
                        />
                    </div>
                    <div class="form-group">
                        <label for="parNombreOtros">Nombre Tropical o Sinónimos</label>
                        <textarea rows="" cols="" name="parNombreOtros" class="form-control" ng-model="pnombresc.newItem.parNombreOtros" placeholder="Nombre Tropical"></textarea>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': newPnombreForm.parGrupo.$touched && newPnombreForm.parGrupo.$invalid}">
                        <label for="parGrupo">Grupo <span class="label label-primary">REQUERIDO</span></label>
                        <div class="input-group">
                            <select id="grupoSelector" class="form-control input-group" name="parGrupo" ng-model="pnombresc.newItem.parGrupo" ng-options="grupos as grupos.grupoNombre for grupos in pnombresc.grupos track by grupos.id"
                                required>
                                <option value="">--Seleccione Grupo--</option>
                            </select>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="pnombresc.getGrupos()"><span class="glyphicon glyphicon-refresh" aria-hidden="true" ></span></button>
                            </span>
                        </div>
                        <div class="help-block" ng-messages="newPnombreForm.parGrupo.$error" ng-if="newPnombreForm.parGrupo.$touched">
                            <p ng-message="required">"Grupo" es requerido.</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-success" ng-click="pnombresc.addNombre(pnombresc.newItem.parNombre,pnombresc.newItem.parNombreIngles,pnombresc.newItem.parNombreOtros,pnombresc.newItem.parGrupo)"
                            ng-disabled="(newPnombreForm.$invalid) || (pnombresc.selectedItemAction == 'edit') || (pnombresc.selectedItemAction == 'view')">
                            <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                            <span class="button-text">Agregar</span>
                            </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar en todos los Nombres..." ng-model="pnombresc.searchText" on-enter="pnombresc.getNombres(QtyPagesSelected,1,pnombresc.searchText)">
                    <span class="input-group-btn">
		        <button class="btn btn-default btn-left-margin-2" type="button" ng-class="{true:'item-visible', false: 'item-no-visible'}[pnombresc.searchText !='']" ng-click="pnombresc.searchText=''">
		        	<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                    </span>
                    <span class="input-group-btn">
		        <button class="btn btn-default btn-left-margin-2" type="button" ng-click="pnombresc.getNombres(QtyPagesSelected,1,pnombresc.searchText)">
		        	<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                    </span>
                </div>
            </div>
            <div class="col-md-2 col-md-offset-4">
                <input type="text" class="form-control" id="txtFilter" placeholder="Filtro" ng-model="pnombresc.filter">
            </div>
        </div>
        <div class="row">
            <hr>
        </div>
        <div class="row">
            <table class="table table-hover" ng-cloak>
                <thead>
                    <tr>
                        <th><span class="btn" ng-class="{true:'bold-text',false:''}[pnombresc.orderBy=='parNombreId']" ng-click="pnombresc.changeOrderByOrDirection('parNombreId')"><span ng-show="pnombresc.orderBy=='parNombreId'" ng-class="{true:'glyphicon glyphicon-sort-by-alphabet', false:'glyphicon glyphicon-sort-by-alphabet-alt'}[pnombresc.orderDirection==false && pnombresc.orderBy=='parNombreId']"></span>ID</span>
                        </th>
                        <th><span class="btn" ng-class="{true:'bold-text',false:''}[pnombresc.orderBy=='parNombre']" ng-click="pnombresc.changeOrderByOrDirection('parNombre')"><span ng-show="pnombresc.orderBy=='parNombre'" ng-class="{true:'glyphicon glyphicon-sort-by-alphabet', false:'glyphicon glyphicon-sort-by-alphabet-alt'}[pnombresc.orderDirection==false && pnombresc.orderBy=='parNombre']"></span>Nombre
                            de la Parte</span>
                        </th>
                        <th><span class="btn" ng-class="{true:'bold-text',false:''}[pnombresc.orderBy=='parNombreIngles']" ng-click="pnombresc.changeOrderByOrDirection('parNombreIngles')"><span ng-show="pnombresc.orderBy=='parNombreIngles'" ng-class="{true:'glyphicon glyphicon-sort-by-alphabet', false:'glyphicon glyphicon-sort-by-alphabet-alt'}[pnombresc.orderDirection==false && pnombresc.orderBy=='parNombreIngles']"></span>Nombre
                            en inglés</span>
                        </th>
                        <th><span class="btn" ng-class="{true:'bold-text',false:''}[pnombresc.orderBy=='parNombreOtros']" ng-click="pnombresc.changeOrderByOrDirection('parNombreOtros')"><span ng-show="pnombresc.orderBy=='parNombreOtros'" ng-class="{true:'glyphicon glyphicon-sort-by-alphabet', false:'glyphicon glyphicon-sort-by-alphabet-alt'}[pnombresc.orderDirection==false && pnombresc.orderBy=='parNombreOtros']"></span>Nombre
                            Tropical
                            </span>
                        </th>
                        <th><span class="btn" ng-class="{true:'bold-text',false:''}[pnombresc.orderBy=='parGrupo']" ng-click="pnombresc.changeOrderByOrDirection('parGrupo')"><span ng-show="pnombresc.orderBy=='parGrupo'" ng-class="{true:'glyphicon glyphicon-sort-by-alphabet', false:'glyphicon glyphicon-sort-by-alphabet-alt'}[pnombresc.orderDirection==false && pnombresc.orderBy=='parGrupo']"></span>Grupo</span>
                        </th>
                        <th><span class="btn">Acción</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat-start="nombre in pnombresc.nombrePartes | orderObjectBy: pnombresc.orderBy : pnombresc.orderDirection | filter : pnombresc.filter">
                        <td class="">{{nombre.parNombreId}}</td>
                        <td class="">{{nombre.parNombre}}</td>
                        <td class="">{{nombre.parNombreIngles}}</td>
                        <td class="">{{nombre.parNombreOtros}}</td>
                        <td class="">{{nombre.parGrupo.grupoNombre}}</td>
                        <td class="action-buttons-td">
                            <button type="button" class="btn btn-primary" ng-model="pnombresc.selectedItem.parNombreId" uib-btn-checkbox btn-checkbox-true="nombre.parNombreId"
                                btn-checkbox-false="0" ng-click="pnombresc.copyRowData(nombre.parNombre,nombre.parNombreIngles,nombre.parNombreOtros,nombre.parGrupo);">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                <span class="button-text">Editar</span>
						    </button>
                            <button type="button" class="btn btn-danger" ng-disabled="pnombresc.selectedItem.parNombreId == nombre.parNombreId" ng-click="pnombresc.removeNombre(nombre.parNombreId)"
                                confirm="¿Está seguro de eliminar el registro?. Esta acción no se puede deshacer." confirm-title="Atención"
                                confirm-ok="Si" confirm-cancel="No">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                <span class="button-text">Eliminar</span>
						    </button>
                        </td>
                    </tr>
                    <tr ng-repeat-end ng-class="{true:'row-visible', false: 'row-no-visible'}[pnombresc.selectedItem.parNombreId == nombre.parNombreId]">
                        <td>
                            <strong>Editando Nombre ID: {{nombre.parNombreId}}</strong>
                        </td>
                        <td>
                            <form name="updateNombreForm" ng-submit="" novalidate>
                                <div ng-class="{ 'has-error': updateNombreForm.parNombre.$touched && updateNombreForm.parNombre.$invalid}">
                                    <input type="text" name="parNombre" class="form-control" ng-model="pnombresc.selectedItem.parNombre" placeholder={{nombre.parNombre}}
                                        required/>
                                    <div class="help-block" ng-messages="updateNombreForm.parNombre.$error" ng-if="updateNombreForm.parNombre.$touched">
                                        <p ng-message="required">"Nombre de la Parte" es requerido.</p>
                                    </div>
                                </div>
                            </form>
                        </td>
                        <td>
                            <input type="text" name="parNombreIngles" class="form-control" ng-model="pnombresc.selectedItem.parNombreIngles" placeholder={{nombre.parNombreIngles}}/>
                        </td>
                        <td>
                            <input type="text" name="parNombreOtros" class="form-control" ng-model="pnombresc.selectedItem.parNombreOtros" placeholder={{nombre.parNombreOtros}}/>
                        </td>
                        <td>
                            <select id="grupoSelector" class="form-control input-group" name="parGrupo" ng-model="pnombresc.selectedItem.parGrupo"
                                ng-options="grupos as grupos.grupoNombre for grupos in pnombresc.grupos track by grupos.id" required>
                            </select>
                        </td>
                        <td>
                            <button type="button" class="btn btn-success" ng-click="pnombresc.updateNombre(nombre.parNombreId,pnombresc.selectedItem.parNombre,pnombresc.selectedItem.parNombreIngles,pnombresc.selectedItem.parNombreOtros,pnombresc.selectedItem.parGrupo)"
                                ng-disabled="updateNombreForm.$invalid || updateNombreForm.$invalid">
                                <span class="glyphicon glyphicon-ok-sign" aria-hidden="true" ></span>
                                <span class="button-text">Guardar</span>
				            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr>
        </div>
        <div class="row" ng-cloak ng-show="pnombresc.allLoad">
            <form class="form-inline">
                <div class="form-group">
                    <select class="form-control in-line-paginator" id="selQtyPages" ng-model="QtyPagesSelected" ng-change="pnombresc.ChangeQtyPagesTables(QtyPagesSelected,pnombresc.searchText)"
                        ng-init="QtyPagesSelected=QtyPageTables">
                        <option value=10>10</option>
                        <option value=20>20</option>
                        <option value=50>50</option>
                        <option value=100>100</option>
                        <option value=Todos>Todos</option>
				    </select>
                </div>
                <div class="form-group">
                    <ul uib-pagination previous-text="Anterior" next-text="Siguiente" items-per-page="QtyPageTables" total-items="pnombresc.totalNombrePartes"
                        ng-model="pnombresc.CurrentPage" ng-change="pnombresc.setPage(pnombresc.CurrentPage)"></ul>
                </div>
                <div class="form-group pull-right actual-range" ng-cloak>
                    {{pnombresc.actualRange}}
                </div>
            </form>
        </div>

    </div>
</div>