<toast></toast>
<div class="container" ng-controller="vehiculosController as vehiculosc" ng-cloak cg-busy="{promise:VehiculosPromise,message:'Cargando...',templateUrl:'scripts/vendor/angular-busy/angular-busy.html'}">
    <div ng-class="vehiculosc.editing == true  ? 'item-no-visible' : 'item-visible'">
        <div class="row">
            <div class="col-md-12">
                <h2>Lista de Vehículos</h2>
            </div>
        </div>
        <div class="row button-margin">
            <div class="col-md-12">
                <button class="btn btn-primary" type="button" ng-disabled="(vehiculosc.selectedItemAction == 'edit') || (vehiculosc.selectedItemAction == 'view')"
                    ng-model="vehiculosc.isAddNewVehiculo" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false"
                    ng-click="vehiculosc.reloadDropDownData()">
                    <span class="glyphicon glyphicon-certificate" aria-hidden="true"></span> Agregar Nuevo
                    </button>
            </div>
        </div>
        <div class="row" ng-class="{true:'item-visible', false: 'item-no-visible'}[vehiculosc.isAddNewVehiculo==true]">
            <div class="col-md-12">
                <form name="newVehiculoForm" ng-submit="" novalidate>
                    <div class="form-group">
                        <label for="marNombre">Marca</label>
                        <input type="text" name="marNombre" class="form-control" ng-model="vehiculosc.newItem.modeloMod.marcaMar.marNombre" placeholder="Seleccione un modelo"
                            readonly/>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': newVehiculoForm.modeloMod.$touched && newVehiculoForm.modeloMod.$invalid}">
                        <label for="modeloMod">Modelo <span class="label label-primary">REQUERIDO</span></label>
                        <div class="input-group">
                            <select id="ModeloSelector" class="form-control input-group" name="modeloMod" ng-model="vehiculosc.newItem.modeloMod" ng-options="modelo as (modelo.modNombre + ' - ' + modelo.marcaMar.marNombre) for modelo in vehiculosc.modelos track by modelo.modId"
                                required>
                                <option value="">--Seleccione Modelo--</option>
                                </select>
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="vehiculosc.getModelos()"><span class="glyphicon glyphicon-refresh" aria-hidden="true" ></span></button>
                            </span>
                        </div>
                        <div class="help-block" ng-messages="newVehiculoForm.modeloMod.$error" ng-if="newVehiculoForm.modeloMod.$touched">
                            <p ng-message="required">"Modelo" es requerido.</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="vehCilindros">Configuración del Motor y Cilindros</label>
                        <input type="text" name="vehCilindros" class="form-control" ng-model="vehiculosc.newItem.vehCilindros" placeholder="Configuración del Motor y Cilindros"
                        />
                    </div>
                    <div class="form-group">
                        <label for="vehLitros">Litros</label>
                        <input type="text" name="vehLitros" class="form-control" ng-model="vehiculosc.newItem.vehLitros" placeholder="Litros" />
                    </div>
                    <div class="form-group">
                        <label for="vehValvulas">Válvulas</label>
                        <input type="text" name="vehValvulas" class="form-control" ng-model="vehiculosc.newItem.vehValvulas" placeholder="Válvulas"
                        />
                    </div>
                    <div class="form-group">
                        <label for="vehLevas">Configuración Levas</label>
                        <input type="text" name="vehLevas" class="form-control" ng-model="vehiculosc.newItem.vehLevas" placeholder="Configuración Levas"
                        />
                    </div>
                    <div class="form-group">
                        <label for="vehVersion">Versión</label>
                        <input type="text" name="vehVersion" class="form-control" ng-model="vehiculosc.newItem.vehVersion" placeholder="Versión"
                        />
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': newVehiculoForm.anioAniId.$touched && newVehiculoForm.anioAniId.$invalid}">
                        <label for="anioAniId">Año <span class="label label-primary">REQUERIDO</span></label>
                        <input type="text" name="anioAniId" class="form-control" ng-model="vehiculosc.newItem.anioAniId" placeholder="En formato AAAA"
                            ng-pattern="/^[0-9]{4}$/" required/>
                        <div class="help-block" ng-messages="newVehiculoForm.anioAniId.$error" ng-if="newVehiculoForm.anioAniId.$touched">
                            <p ng-message="pattern">Escriba un año válido.</p>
                            <p ng-message="required">"Año" es requerido.</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': newVehiculoForm.vehFabDesde.$touched && newVehiculoForm.vehFabDesde.$invalid}">
                        <label for="vehFabDesde">Año Inicio</label>
                        <input type="text" name="vehFabDesde" class="form-control" ng-model="vehiculosc.newItem.vehFabDesde" placeholder="En formato AAAA"
                            ng-pattern="/^[0-9]{4}$/" />
                        <div class="help-block" ng-messages="newVehiculoForm.vehFabDesde.$error" ng-if="newVehiculoForm.vehFabDesde.$touched">
                            <p ng-message="pattern">Escriba un año válido.</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': newVehiculoForm.vehFabHasta.$touched && newVehiculoForm.vehFabHasta.$invalid}">
                        <label for="vehFabHasta">Año Fin</label>
                        <input type="text" name="vehFabHasta" class="form-control" ng-model="vehiculosc.newItem.vehFabHasta" placeholder="En formato AAAA"
                            ng-pattern="/^[0-9]{4}$/" />
                        <div class="help-block" ng-messages="newVehiculoForm.vehFabHasta.$error" ng-if="newVehiculoForm.vehFabHasta.$touched">
                            <p ng-message="pattern">Escriba un año válido.</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="vehTipo">Tipo</label>
                        <input type="text" name="vehTipo" class="form-control" ng-model="vehiculosc.newItem.vehTipo" placeholder="Tipo" />
                    </div>
                    <div class="form-group">
                        <label for="vehTraccion">Tracción</label>
                        <select id="TraccionSelector" class="form-control input-group" name="vehTraccion" ng-model="vehiculosc.newItem.vehTraccion">
                                <option value="">--Seleccione Tipo de Tracción--</option>
                                <option value="FWD">FWD</option>
                                <option value="RWD">RWD</option>
                                <option value="AWD">AWD</option>
                                <option value="4WD">4WD</option>
                                <option value="4x4">4x4</option>
                                <option value="4x2">4x2</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="vehCaja">Caja</label>
                        <select id="CajaSelector" class="form-control input-group" name="vehCaja" ng-model="vehiculosc.newItem.vehCaja">
                                <option value="">--Seleccione Tipo de Caja--</option>
                                <option value="Automática">Automática</option>
                                <option value="Sincrónica">Sincrónica</option>
                            </select>
                    </div>
                    <div class="form-group">
                        <label for="vehObservacion">Observación</label>
                        <textarea rows="" cols="" name="vehObservacion" class="form-control" ng-model="vehiculosc.newItem.vehObservacion" placeholder="Observación"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-success" ng-click="vehiculosc.addVehiculo(vehiculosc.newItem.anioAniId,vehiculosc.newItem.vehCilindros,vehiculosc.newItem.vehLitros,vehiculosc.newItem.vehValvulas,vehiculosc.newItem.vehLevas,vehiculosc.newItem.vehVersion,vehiculosc.newItem.vehTipo,vehiculosc.newItem.vehTraccion,vehiculosc.newItem.vehCaja,vehiculosc.newItem.vehObservacion,vehiculosc.newItem.vehFabDesde,vehiculosc.newItem.vehFabHasta,vehiculosc.newItem.modeloMod)"
                            ng-disabled="(newVehiculoForm.$invalid) || (vehiculosc.selectedItemAction == 'view')">
                            <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                            <span class="button-text">Agregar</span>
                            </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar en todos los Vehículos..." ng-model="vehiculosc.searchText" on-enter="vehiculosc.getVehiculos(QtyPagesSelected,1,vehiculosc.searchText)">
                    <span class="input-group-btn">
		        <button class="btn btn-default btn-left-margin-2" type="button" ng-class="{true:'item-visible', false: 'item-no-visible'}[vehiculosc.searchText !='']" ng-click="vehiculosc.searchText=''">
		        	<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                    </span>
                    <span class="input-group-btn">
		        <button class="btn btn-default btn-left-margin-2" type="button" ng-click="vehiculosc.getVehiculos(QtyPagesSelected,1,vehiculosc.searchText)">
		        	<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                    </span>
                </div>
            </div>
            <div class="col-md-2 col-md-offset-4">
                <input type="text" class="form-control" id="txtFilter" placeholder="Filtro" ng-model="vehiculosc.filter">
            </div>
        </div>
        <div>
            <hr>
        </div>
        <div class="row">
            <table class="table table-hover" ng-cloak>
                <thead>
                    <tr>
                        <th><span class="btn" ng-class="{true:'bold-text',false:''}[vehiculosc.orderBy=='vehId']" ng-click="vehiculosc.changeOrderByOrDirection('vehId')"><span ng-show="vehiculosc.orderBy=='vehId'" ng-class="{true:'glyphicon glyphicon-sort-by-alphabet', false:'glyphicon glyphicon-sort-by-alphabet-alt'}[vehiculosc.orderDirection==false && vehiculosc.orderBy=='vehId']"></span>ID</span>
                        </th>
                        <th><span class="btn" ng-class="{true:'bold-text',false:''}[vehiculosc.orderBy=='marNombre']" ng-click="vehiculosc.changeOrderByOrDirection('marNombre')"><span ng-show="vehiculosc.orderBy=='marNombre'" ng-class="{true:'glyphicon glyphicon-sort-by-alphabet', false:'glyphicon glyphicon-sort-by-alphabet-alt'}[vehiculosc.orderDirection==false && vehiculosc.orderBy=='marNombre']"></span>Marca</span>
                        </th>
                        <th><span class="btn" ng-class="{true:'bold-text',false:''}[vehiculosc.orderBy=='modeloMod']" ng-click="vehiculosc.changeOrderByOrDirection('modeloMod')"><span ng-show="vehiculosc.orderBy=='modeloMod'" ng-class="{true:'glyphicon glyphicon-sort-by-alphabet', false:'glyphicon glyphicon-sort-by-alphabet-alt'}[vehiculosc.orderDirection==false && vehiculosc.orderBy=='modeloMod']"></span>Modelo</span>
                        </th>
                        <th><span class="btn">Variación</span></th>
                        <th><span class="btn">Acción</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="vehiculo in vehiculosc.vehiculos | orderObjectBy: vehiculosc.orderBy : vehiculosc.orderDirection | filter : vehiculosc.filter">
                        <td class="">{{vehiculo.vehId}}</td>
                        <td class="">{{vehiculo.modeloMod.marcaMar.marNombre}}</td>
                        <td class="">{{vehiculo.modeloMod.modNombre}}</td>
                        <td class="">{{vehiculo.vehCilindros}}-{{vehiculo.vehLitros}}-{{vehiculo.vehValvulas}}-{{vehiculo.vehLevas}}-{{vehiculo.vehVersion}}-{{vehiculo.vehFabDesde}}-{{vehiculo.vehFabHasta}}</td>
                        <td class="action-buttons-td">
                            <button type="button" class="btn btn-primary" ng-click="vehiculosc.openModalView(vehiculo.vehId); vehiculosc.selectedItemAction='view';">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                <span class="button-text">Ver</span>
                            </button>
                            <button type="button" class="btn btn-primary" ng-click="vehiculosc.copyRowData(vehiculo.vehId)" ng-disabled="vehiculosc.selectedItemAction == 'view'">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                <span class="button-text">Editar</span>
                            </button>
                            <button type="button" class="btn btn-danger" ng-click="vehiculosc.removeVehiculo(vehiculo.vehId)" confirm="¿Está seguro de eliminar el registro?. Esta acción no se puede deshacer."
                                confirm-title="Atención" confirm-ok="Si" confirm-cancel="No" ng-disabled="vehiculosc.selectedItemAction == 'view'">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                <span class="button-text">Eliminar</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr>
        </div>
        <div class="row" ng-cloak ng-show="vehiculosc.allLoad">
            <form class="form-inline">
                <div class="form-group">
                    <select class="form-control in-line-paginator" id="selQtyPages" ng-model="QtyPagesSelected" ng-change="vehiculosc.ChangeQtyPagesTables(QtyPagesSelected,vehiculosc.searchText)"
                        ng-init="QtyPagesSelected=QtyPageTables">
                        <option value=10>10</option>
                        <option value=20>20</option>
                        <option value=50>50</option>
                        <option value=100>100</option>
                        <option value=Todos>Todos</option>
                        </select>
                </div>
                <div class="form-group">
                    <ul uib-pagination previous-text="Anterior" next-text="Siguiente" items-per-page="QtyPageTables" total-items="vehiculosc.totalVehiculos"
                        ng-model="vehiculosc.CurrentPage" ng-change="vehiculosc.setPage(vehiculosc.CurrentPage)"></ul>
                </div>
                <div class="form-group pull-right actual-range" ng-cloak>
                    {{vehiculosc.actualRange}}
                </div>
            </form>
        </div>
        <hr>
    </div>
    <div class="row" id="edit-section" ng-class="vehiculosc.loadingEditing == true || vehiculosc.editing == false ? 'item-no-visible' : 'item-visible'">
        <div class="row">
            <div class="col-md-12">
                <h2>Editar Vehículo {{vehiculosc.selectedItem.modeloMod.marcaMar.marNombre}} {{vehiculosc.selectedItem.modeloMod.modNombre}}</h2>
            </div>
        </div>
        <div class="col-md-12">
            <form name="editVehiculoForm" ng-submit="" novalidate>
                <div class="form-group">
                    <label for="marNombre">Marca</label>
                    <input type="text" name="marNombre" class="form-control" ng-model="vehiculosc.selectedItem.modeloMod.marcaMar.marNombre"
                        placeholder="Seleccione un modelo" readonly/>
                </div>
                <div class="form-group">
                    <label for="modeloMod">Modelo</label>
                    <div class="input-group">
                        <select id="ModeloSelector" class="form-control input-group" name="modeloMod" ng-model="vehiculosc.selectedItem.modeloMod"
                            ng-options="modelo as (modelo.modNombre + ' - ' + modelo.marcaMar.marNombre) for modelo in vehiculosc.modelos track by modelo.modId" required>
                                </select>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="vehiculosc.getModelos()"><span class="glyphicon glyphicon-refresh" aria-hidden="true" ></span></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="vehCilindros">Configuración del Motor y Cilindros</label>
                    <input type="text" name="vehCilindros" class="form-control" ng-model="vehiculosc.selectedItem.vehCilindros" placeholder="Configuración del Motor y Cilindros"
                    />
                </div>
                <div class="form-group">
                    <label for="vehLitros">Litros</label>
                    <input type="text" name="vehLitros" class="form-control" ng-model="vehiculosc.selectedItem.vehLitros" placeholder="Litros"
                    />
                </div>
                <div class="form-group">
                    <label for="vehValvulas">Válvulas</label>
                    <input type="text" name="vehValvulas" class="form-control" ng-model="vehiculosc.selectedItem.vehValvulas" placeholder="Válvulas"
                    />
                </div>
                <div class="form-group">
                    <label for="vehLevas">Configuración Levas</label>
                    <input type="text" name="vehLevas" class="form-control" ng-model="vehiculosc.selectedItem.vehLevas" placeholder="Configuración Levas"
                    />
                </div>
                <div class="form-group">
                    <label for="vehVersion">Versión</label>
                    <input type="text" name="vehVersion" class="form-control" ng-model="vehiculosc.selectedItem.vehVersion" placeholder="Versión"
                    />
                </div>
                <div class="form-group" ng-class="{ 'has-error': editVehiculoForm.anioAniId.$touched && editVehiculoForm.anioAniId.$invalid}">
                    <label for="anioAniId">Año <span class="label label-primary">REQUERIDO</span></label>
                    <input type="text" name="anioAniId" class="form-control" ng-model="vehiculosc.selectedItem.anioAniId" placeholder="En formato AAAA"
                        ng-pattern="/^[0-9]{4}$/" required/>
                    <div class="help-block" ng-messages="editVehiculoForm.anioAniId.$error" ng-if="editVehiculoForm.anioAniId.$touched">
                        <p ng-message="pattern">Escriba un año válido.</p>
                        <p ng-message="required">"Año" es requerido.</p>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': editVehiculoForm.vehFabDesde.$touched && editVehiculoForm.vehFabDesde.$invalid}">
                    <label for="vehFabDesde">Año Inicio</label>
                    <input type="text" name="vehFabDesde" class="form-control" ng-model="vehiculosc.selectedItem.vehFabDesde" placeholder="En formato AAAA"
                        ng-pattern="/^[0-9]{4}$/" />
                    <div class="help-block" ng-messages="editVehiculoForm.vehFabDesde.$error" ng-if="editVehiculoForm.vehFabDesde.$touched">
                        <p ng-message="pattern">Escriba un año válido.</p>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': editVehiculoForm.vehFabHasta.$touched && editVehiculoForm.vehFabHasta.$invalid}">
                    <label for="vehFabHasta">Año Fin</label>
                    <input type="text" name="vehFabHasta" class="form-control" ng-model="vehiculosc.selectedItem.vehFabHasta" placeholder="En formato AAAA"
                        ng-pattern="/^[0-9]{4}$/" />
                    <div class="help-block" ng-messages="editVehiculoForm.vehFabHasta.$error" ng-if="editVehiculoForm.vehFabHasta.$touched">
                        <p ng-message="pattern">Escriba un año válido.</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="vehTipo">Tipo</label>
                    <input type="text" name="vehTipo" class="form-control" ng-model="vehiculosc.selectedItem.vehTipo" placeholder="Tipo" />
                </div>
                <div class="form-group">
                    <label for="vehTraccion">Tracción</label>
                    <select id="TraccionSelector" class="form-control input-group" name="vehTraccion" ng-model="vehiculosc.selectedItem.vehTraccion">
                                <option value="">--Seleccione Tipo de Tracción--</option>
                                <option value="FWD">FWD</option>
                                <option value="RWD">RWD</option>
                                <option value="AWD">AWD</option>
                                <option value="4WD">4WD</option>
                                <option value="4x4">4x4</option>
                                <option value="4x2">4x2</option>
                        </select>
                </div>
                <div class="form-group">
                    <label for="vehCaja">Caja</label>
                    <select id="CajaSelector" class="form-control input-group" name="vehCaja" ng-model="vehiculosc.selectedItem.vehCaja">
                        <option value="Automática">Automática</option>
                        <option value="Sincrónica">Sincrónica</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="vehObservacion">Observación</label>
                    <textarea rows="" cols="" name="vehObservacion" class="form-control" ng-model="vehiculosc.selectedItem.vehObservacion" placeholder="Observación"></textarea>
                </div>
                <div class="form-group margin-top-70">
                    <button type="button" class="btn btn-success" ng-click="vehiculosc.updateVehiculo(vehiculosc.selectedItem.vehId,vehiculosc.selectedItem.anioAniId,vehiculosc.selectedItem.vehCilindros,vehiculosc.selectedItem.vehLitros,vehiculosc.selectedItem.vehValvulas,vehiculosc.selectedItem.vehLevas,vehiculosc.selectedItem.vehVersion,vehiculosc.selectedItem.vehTipo,vehiculosc.selectedItem.vehTraccion,vehiculosc.selectedItem.vehCaja,vehiculosc.selectedItem.vehObservacion,vehiculosc.selectedItem.vehFabDesde,vehiculosc.selectedItem.vehFabHasta,vehiculosc.selectedItem.modeloMod)"
                        ng-disabled="(editVehiculoForm.$invalid)">
                        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                        <span class="button-text">Guardar Cambios</span>
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="vehiculosc.cancelAndBackFromEdit()">
                        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                        <span class="button-text">Cancelar y Volver</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- Modal  -->
    <script type="text/ng-template" id="vehiculosView.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Vehículo {{$ctrl.items.modeloMod.marcaMar.marNombre}} {{$ctrl.items.modeloMod.modNombre}}</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="forum-icon">
                        <i class="fa fa-pencil-square-o"></i>
                    </div>
                    <span class="forum-item-title">Datos Generales</span>
                    <div class="forum-sub-title">
                        <b>Marca:</b> {{$ctrl.items.modeloMod.marcaMar.marNombre}}
                        </br>
                        <b>Modelo:</b> {{$ctrl.items.modeloMod.modNombre}}
                    </div>
                </div>
            </div>
            <div class="row margin-top-10">
                <div class="col-md-12">
                    <div class="forum-icon">
                        <i class="fa fa-map-signs"></i>
                    </div>
                    <span class="forum-item-title">Variante</span>
                    <div class="forum-sub-title">
                        <b>Configuración del Motor y Cilindros:</b> {{$ctrl.items.vehCilindros}}
                        <br>
                        <b>Litros:</b> {{$ctrl.items.vehLitros}}
                        <br>
                        <b>Válvulas:</b> {{$ctrl.items.vehValvulas}}
                        <br>
                        <b>Configuración de Levas:</b> {{$ctrl.items.vehLevas}}
                        <br>
                        <b>Versión:</b> {{$ctrl.items.vehVersion}}
                        <br>
                        <b>Año:</b> {{$ctrl.items.anioAniId}}
                        <br>
                        <b>Año Inicio:</b> {{$ctrl.items.vehFabDesde}}
                        <br>
                        <b>Año Fin:</b> {{$ctrl.items.vehFabHasta}}
                        <br>
                        <b>Tracción:</b> {{$ctrl.items.vehTraccion}}
                        <br>
                        <b>Caja:</b> {{$ctrl.items.vehCaja}}
                        <br>
                        <b>Observación:</b> {{$ctrl.items.vehObservacion}}
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
        </div>
    </script>
</div>