<toast></toast>
<div class="container" ng-controller="vehiculosController as vehiculosc" ng-cloak cg-busy="{promise:vehiculosPromise,message:'Cargando...',templateUrl:'scripts/vendor/angular-busy/angular-busy.html'}">
    <div ng-class="vehiculosc.editing == true  ? 'item-no-visible' : 'item-visible'">
        <div class="row">
            <div class="col-md-12">
                <h2>Lista de vehiculos</h2>
            </div>
        </div>
        <div class="row button-margin">
            <div class="col-md-12">
                <button class="btn btn-primary" type="button" ng-disabled="(vehiculosc.selectedItemAction == 'edit') || (vehiculosc.selectedItemAction == 'view')" ng-model="vehiculosc.isAddNewVehiculo" uib-btn-checkbox
                    btn-checkbox-true="true" btn-checkbox-false="false">
                    <span class="glyphicon glyphicon-certificate" aria-hidden="true"></span> Agregar Nuevo
                    </button>
            </div>
        </div>
        <div class="row" ng-class="{true:'item-visible', false: 'item-no-visible'}[vehiculosc.isAddNewParte==true]">
            <div class="col-md-12">
                <form name="newVehiculoForm" ng-submit="" novalidate>
                    <div class="form-group">
                        <label for="marNombre">Marca</label>
                        <input type="text" name="marNombre" class="form-control" ng-model="vehiculosc.newItem.marNombre" placeholder="Seleccione un modelo" readonly/>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': newVehiculoForm.modeloMod.$touched && newVehiculoForm.modeloMod.$invalid}">
                        <label for="modeloMod">Modelo</label>
                        <div class="input-group">
                            <select id="ModeloSelector" class="form-control input-group" name="modeloMod" ng-model="vehiculosc.newItem.modeloMod"
                                ng-options="modelo as modelo.modNombre for modelo in vehiculosc.modelos track by modelo.modId"
                                required>
                                <option value="">--Seleccione Modelo--</option>
                                </select>
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="vehiculosc.getModelos()"><span class="glyphicon glyphicon-refresh" aria-hidden="true" ></span></button>
                            </span>
                        </div>
                        <div class="help-block" ng-messages="newVehiculoForm.modeloMod.$error" ng-if="newVehiculoForm.modeloMod.$touched">
                            <p ng-message="required">"Modelo" es requerido.</p>
                        </div>
                    </div>