@media screen and (max-width: 320px) {
    .button-text {
        display: none;
    }
}

.form-container {
    margin: 0 auto;
    margin-top: 100px;
    max-width: 350px;
}

.form-title {
    margin-bottom: 10px;
    text-align: center;
}

.button-margin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.action-buttons-td {
    min-width: 200px;
}

.bold-text {
    font-weight: bold;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

.actual-range {
    margin-top: 30px;
    font-weight: bold;
}

.item-visible {
    display: inline;
}

.item-no-visible {
    display: none;
}

.row-no-visible {
    display: none;
}

.row-visible {
    display: table-row;
    background: #ffe1e1;
}

.table-hover>tbody>tr.row-visible:hover {
    background-color: #ffe1e1 !important;
}

.btn-left-margin-2 {
    margin-left: 2px !important;
}

.list-inside {
    list-style-position: inside;
}

.list-outside {
    list-style-position: outside;
}
.margin-top-70 {
    margin-top: 70px;
}
/* Fix for multiselect angular control, to hide horizontal scrollbars */
.multiselect-parent .dropdown-menu { 
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    }

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}
@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}
@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}


.primary-text {
    color: #337ab7;
}
.warning-text {
    color: #f0ad4e;
}
.success-text {
    color: #5cb85c;
}
.danger-text {
    color: #d9534f;
}

.margin-top-10 {
    margin-top: 10px;
}

.forum-icon {
    float: left;
    width: 30px;
    margin-right: 20px;
    text-align: center;
    font-size: 30px;
    margin-top: 8px;
    color: #337ab7; 
}
.forum-item-title {
    display: block;
    font-size: 18px;
    font-weight: 600;
}
.forum-sub-title{
    color: #555;
    margin-left: 50px;
}

.btn-extra{
    color: #337ab7;
}

.btn-extra:hover{
    color: #23527c;
}

/* Overrides */

.in-line-paginator {
    margin-top: -4px !important;
}

.ng-toast {
    right: 5px;
}

.cg-busy-default-sign {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.table{
    text-align: center;
}

th {
   text-align: center; 
}