@media screen and (max-width: 320px) {
    .button-text {
        display: none;
    }
}

.form-container {
    margin: 0 auto;
    margin-top: 100px;
    max-width: 350px;
}

.form-title {
    margin-bottom: 10px;
    text-align: center;
}

.button-margin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.action-buttons-td {
    min-width: 200px;
}

.bold-text {
    font-weight: bold;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

.actual-range {
    margin-top: 30px;
    font-weight: bold;
}

.item-visible {
    display: inline;
}

.item-no-visible {
    display: none;
}

.row-no-visible {
    display: none;
}

.row-visible {
    display: table-row;
    background: #ffe1e1;
}

.table-hover>tbody>tr.row-visible:hover {
    background-color: #ffe1e1 !important;
}

.btn-left-margin-2 {
    margin-left: 2px !important;
}


/* Overrides */

.in-line-paginator {
    margin-top: -4px !important;
}

.ng-toast {
    right: 5px;
}

.cg-busy-default-sign {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}